.orders{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.proceed-checkout{
    display: flex;
    padding: 10px;
    width: 90%;
    height: 40px;
    justify-content: space-between;
    background-color: orange;
    color: white;
    margin-top: 15px;
}

.proceed-link{
    text-decoration: none;
}

