.cart{
    background-color:rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
    height: 400px;
}

.clearBtn{
    display: flex;
    padding: 10px;
    width: 90%;
    height: 40px;
    font-size: 20px;
    justify-content: space-between;
    background-color: red;
    color: white;
}